---
import Button from "@components/ui/Button.astro";
import { SITE_PHONE, SITE_PHONE_HREF } from "@src/consts";
---

<section class="container mx-auto max-w-4xl py-4">
  <div
    class="prose-xl rounded-lg bg-primary px-12 py-16 text-center text-white">
    <h2 class="text-4xl font-bold">
      Wind, Hail, Storms, and more. We can help.
    </h2>
    <p>
      Communication is key. Our customers love the clear detailed communication
      we bring with our free roof inspections. We'll handle insurance
      negotiations and keep you in the loop throughout the entire process.
    </p>
    <Button text="Book your inspection" href="/contact" style="primary" />
    <div>
      <p class="mb-0">or give us a call at</p>
      <p class="mt-0">
        <a
          href={SITE_PHONE_HREF}
          class="text-3xl text-secondary transition-colors hover:text-yellow-200"
          >{SITE_PHONE}</a
        >
      </p>
    </div>
  </div>
</section>
