---
import Button from "@components/ui/Button.astro";
---

<section
  class="container prose-xl mx-4 -mt-8 w-auto rounded-xl bg-secondary px-12 py-24 text-center sm:mx-auto lg:px-24">
  <h2>$5k Home Improvement Giveaway</h2>
  <p>
    We have partnered with Fox21 to give away $5,000 for a home improvement
    fund. Runner-up prizes include $250 gift cards to Home Depot
  </p>
  <Button
    text="Enter Giveaway"
    href="https://www.fox21news.com/contests/5k-home-improvement-giveaway"
    style="secondary"
    target={"_blank"}
  />
</section>
