---
// Components
import Button from "@components/ui/Button.astro";
import Image from "astro/components/Image.astro";

// Content
import Workers from "@assets/images/workers-on-roof.jpg";
---

<div class="prose-lg bg-slate-100 py-12 dark:bg-zinc-800 md:py-24">
  <div
    class="space-between container mx-auto flex items-center gap-16 px-4 max-md:flex-col max-md:text-center">
    <div class="md:w-1/2">
      <h1>Your Stress-Free Roofing experts in Colorado Springs</h1>
      <p>
        We can help you with any roofing problem you are facing. We take care of
        everything from inspection to insurance. Make your roof last longer by
        going with Pioneer.
      </p>
      <Button href="/contact" text="Book your free inpection" style="primary" />
    </div>
    <div class="md:w-1/2">
      <Image
        src={Workers}
        alt="workers on roof"
        format="webp"
        class="shadow-tl rounded-lg"
        width="650"
      />
    </div>
  </div>
</div>
