---
// Components
import Button from "@components/ui/Button.astro";
---

<div class="prose-lg bg-slate-100 py-24 dark:bg-slate-800">
  <div class="container mx-auto flex px-4">
    <div class="w-1/2">
      <h1>Your Stress Free Roofing experts in Colorado Springs</h1>
      <p>
        We can help you with any roofing problem you are facing. We take care of
        everything from inspection to insurance. Make your roof last longer by
        going with Pioneer.
      </p>
      <Button
        href="/contact"
        text="Book your free inpection"
        style="primary"
        isFilled="true"
      />
    </div>
    <div class="w-1/2">image here</div>
  </div>
</div>
