---
// Components
import ServiceCard from "@components/ui/ServiceCard.astro";
import Button from "@components/ui/Button.astro";
import { Icon } from "astro-icon/components";

// Content
import Repairs from "@assets/images/new-builds.jpg";
---

<section>
  <div class="my-12 px-4 text-center">
    <p class="font-space text-primary">Our Services</p>
    <h2 class="mt-0 text-4xl font-bold">We can fix any roofing problem</h2>
    <div role="list" class="my-12 flex flex-wrap justify-center gap-10">
      <ServiceCard
        src={Repairs}
        alt="Roof repairs"
        title="Roof Repairs"
        topper="Install"
        width={300}
        text="You may not need a new roof. Sometimes a repair can "
      />
    </div>
    <!-- <div class="text-6xl *:inline"> -->
    <!--   <Icon name="ic:round-roofing" />Repairs -->
    <!--   <Icon name="ic:round-other-houses" />ReRoof -->
    <!--   <Icon name="ic:outline-sensor-window" />Windows -->
    <!--   <Icon name="ic:round-format-paint" /> -->
    <!--   <Icon name="ic:round-house-siding" />Siding -->
    <!--   <Icon name="ic:baseline-bubble-chart" />hail -->
    <!--   <Icon name="ic:baseline-holiday-village" /> -->
    <!--   <Icon name="ic:round-loop" /> -->
    <!--   <Icon name="ic:round-handyman" /> -->
    <!--   <Icon name="ic:round-cottage" /> -->
    <!--   <Icon name="ic:round-hardware" /> -->
    <!--   <Icon name="ic:round-filter-alt" /> -->
    <!--   <Icon name="ic:round-crop-3-2" /> -->
    <!--   <Icon name="ic:round-build-circle" /> -->
    <!--   <Icon name="ic:round-carpenter" /> -->
    <!-- </div> -->
    <Button href="/services" text="View all services" style="secondary" />
  </div>
</section>
