---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="About Pioneer Construction"
  description="Learn about our Colorado Springs roofing company.">
  <div class="container prose-lg mx-auto px-4">
    <h1>About us</h1>
    <p>We're a great company.</p>
  </div>
</BaseLayout>
