---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Pioneer Construction"
  description="Colorado Springs Best Roofing Company. In the industry for 20 years.">
  <div class="bg-slate-100 py-24 dark:bg-slate-800">
    <div class="container mx-auto">
      <h1>Nice</h1>
    </div>
  </div>
</BaseLayout>
