---
// Layout
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Button from "@components/ui/Button.astro";
---

<BaseLayout
  title="Roofing Services"
  description="We provide all roofing services in the Colorado Springs and front range area">
  <div class="container prose-xl mx-auto my-12 text-center">
    <h1>Our Services</h1>
    <p>
      We provde all roofing services in the Colorado Springs and Front Range
      areas.
    </p>
  </div>
</BaseLayout>
