---
// Components
import { Icon } from "astro-icon/components";
import Step from "@components/ui/Steps.astro";

// Content
import {
  SITE_EMAIL,
  SITE_PHONE,
  SITE_PHONE_HREF,
  SITE_UTM_SOURCE,
} from "@src/consts";
---

<form
  action="/success"
  class="w-full space-y-8 rounded-2xl bg-zinc-100 p-12 dark:bg-zinc-800 lg:w-1/2"
  name=`${SITE_UTM_SOURCE}-contact`
  method="POST"
  data-netlify="true">
  <div>
    <label
      for="email"
      class="mb-2 block text-sm font-medium text-zinc-900 dark:text-stone-300"
      >Your email</label
    >
    <input
      type="email"
      id="email"
      name="email"
      class="block w-full rounded px-2.5 py-3.5 text-sm text-zinc-900 dark:bg-zinc-700 dark:text-white dark:placeholder-zinc-400"
      placeholder="you@gmail.com"
      required
    />
  </div>
  <div>
    <label
      for="subject"
      class="mb-2 block text-sm font-medium text-zinc-900 dark:text-zinc-300"
      >Subject</label
    >
    <input
      type="text"
      id="subject"
      name="subject"
      class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light block w-full rounded px-2.5 py-3.5 text-sm text-zinc-900 dark:bg-zinc-700 dark:text-white dark:placeholder-zinc-400"
      placeholder="Let us know how we can help you"
      required
    />
  </div>
  <div class="sm:col-span-2">
    <label
      for="message"
      class="mb-2 block text-sm font-medium text-zinc-900 dark:text-zinc-400"
      >Your message</label
    >
    <textarea
      id="message"
      name="message"
      rows="6"
      class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light block w-full rounded px-2.5 py-3.5 text-sm text-zinc-900 dark:bg-zinc-700 dark:text-white dark:placeholder-zinc-400"
      placeholder="Leave a comment..."></textarea>
  </div>
  <button type="submit" class="btn-primary">Send message</button>
</form>
